header {
    background-image: url(img/banner.jpg);
    width: 100%;
    height: 60em;
    background-position: center;
    background-size: cover;
}

header .img1 {
    position: absolute;
    top: -100px;
    left: -100px;
}

* {
    font-family: 'Roboto', sans-serif;
}

nav a {
    text-decoration: none;
    color: black;
}

.container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

.container-2 {
    width: 500px;
    height: 500px;
    padding-top: 9em;
    padding-left: 9em;
}

.container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    margin: 50px 100px 50px 100px;
    border: 1px solid none;
}

ul {
    list-style-type: none;
}

ul,
.icon-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
}

.icon-4 i {
    color: #a0cb23;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}

.logo {
    width: auto;
    height: auto;
}

li,
i {
    margin: 10px;
}

.fa-solid {
    color: #fb9823;

}

.fa-regular {
    color: #83807b;

}

.bienvenue {
    color: hsl(90, 40%, 48%);
}

.container-2 button {
    color: white;
    border: none;
}

.container-2 button:first-child {
    background-color: #a0cb23;
    width: 150px;
}

.container-2 button:last-child {
    background-color: #14462d;
    width: 150px;
}

.container-2 {
    font-size: 30px;
}

.légumes {
    position: relative;
    border: 1px solid none;
    width: 25em;
    height: 25em;
    background-color: #92ddd8;
    padding: 2%;
    margin-right: 20px;
}

.légumes:first-child img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.sélection {
    position: relative;
    border: 1px solid none;
    width: 25em;
    height: 25em;
    background-color: #fb9823;
    padding: 2%;
    margin-right: 20px;
}

.sélection:nth-child(2) img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.beauté {
    position: relative;
    border: 1px solid none;
    width: 25em;
    height: 25em;
    background-color: #a0cb23;
    padding: 2%;
}

.beauté:last-child img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.container-3 h2,
.container-3 h4 a {
    color: white;
}

.container-3 div {
    width: 18em;
    height: 18em;
}

.container-6 h4 {

    margin-left: 25px;


}

.container-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container-5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.steak:first-child img {
    width: auto;

}

.titre-2 {
    text-align: center;
}

.steak {
    margin-right: 15px;
    text-align: center;
    border: 1px solid none;
    background-color: #f6fafb;
}

.broccolis {
    margin-right: 15px;
    text-align: center;
    border: 1px solid none;
    background-color: #f6fafb;
}

.fraises {
    margin-right: 15px;
    text-align: center;
    border: 1px solid none;
    background-color: #f6fafb;
}

.miel {
    margin-right: 15px;
    text-align: center;
    border: 1px solid none;
    background-color: #f6fafb;
}

.lait {
    margin-right: 15px;
    text-align: center;
    border: 1px solid none;
    background-color: #f6fafb;
}

.boisson {
    margin-right: 15px;
    text-align: center;
    border: 1px solid none;
    background-color: #f6fafb;
}

.container-4 .rang,
.container-5 .rang {
    width: 315px;
    height: 400px;
    margin: 10px;

}

.container-6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: space-evenly;
    margin: 50px 100px 50px 100px;
    border: 1px solid none;
    background-color: #a0cb23;
}

.reduction {
    margin-left: 200px;
}

.container-4 .broccolis i:first-child {
    color: white;
    border: 1px solid none;
    background-color: #a0cb23;
    border-radius: 50%;
    padding: 7px;
}

.container-5 .fa-heart,
.container-4 .fa-heart {
    color: #adafa5;
    border: 1px solid none;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}

.container-5 img,
.container-4 img {
    width: 6em;
    height: 6em;
}

.fa-cart-shopping {
    position: relative;
}

.s0 {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    border: 1px solid none;
    font-size: 10px;
    background-color: #14462d;
    border-radius: 50%;
    padding: 5px;
}

.relative {
    position: relative;
}

.container-5 .fa-heart,
.container-4 .fa-heart {
    position: absolute;
    top: 0px;
    right: 0px;
}

.hot {
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 25px;
    background-color: #da485b;
}

.container-6 h2,
.container-6 h4,
.container-6 a {
    color: white;
}

.container-6 h2 {
    font-size: 35px;
    margin-left: 25px;


}

b {
    color: rgb(255, 255, 7);
    font-size: 55px;
}

footer {
    width: 1200px;
    height: 250px;
    margin: auto;
    margin-bottom: 100px;

}

div .reduction {
    width: 170px;
    margin-top: auto;
    margin-left: 50px;
}

div .populaires {
    width: 170px;
    margin: 0px;
}

div .panier {
    width: 170px;
    margin: -50px;
}

.panier {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.Vert-clair {
    color: #a0cb23;
}

.container-4 .vert {
    background-color: #a0cb23;
    color: white;
    border: none;
}

.container-5 button,
.container-4 button {
    background-color: #14462d;
    width: 120px;
    height: 40px;
    color: white;
    border: none;

}

.container-5 button p,
.container-4 button p {
    margin: 0px;
}

.panier img {
    width: 335px;
    height: auto;
    border-radius: 50%;
}

.panier img {
    border-left: 20px solid #e6ff9c;
    border-top: 3px solid #e6ff9c;
    border-radius: 92% 0 0 0;
}

.container-6 .rang3 {
    width: 335px;
    height: 225px;
    margin: 0px;
}
a{
    text-decoration: none;
}